{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.png"/>

{% assign preview_image = "/assets/img/otag.png" | absolute_url %}
<meta name="theme-color" content="#ffffff"/>
<meta property="og:title" content="bushtail's modding den">
<meta property="og:description" content="SPT mod dev, Unity mod dev, madman.">
<meta property="og:image" content="https://i.imgur.com/tWpfWBC.png">
<meta property="og:url" content="https://bushtail.ca/">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://i.imgur.com/tWpfWBC.png">
<!-- end custom head snippets -->
