/* ==========================================================================
    DARCULA THEME
    ========================================================================== */

$primary-color              : #cc7832;
$gray                       : #808080;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);

$content-bg                 : #3b3b3b;
$chrome-bg                  : #3c3f41;
$chrome-bg-lighter          : #4e5254;

$background                 : $content-bg;
$text                       : #a9b7c6;
$link                       : $primary-color;
$link-dark                  : mix(#000, $link, 25%);
$link-light                 : mix(#fff, $link, 25%);

$danger-color               : #ff6b68;
$info-color                 : #3672a4;
$notice-color               : $gray;
$success-color              : #6a8759;
$warning-color              : #ffc66d;

$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

html[data-theme="dark"] {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #{$content-bg};
    --global-footer-bg-color            : #{$chrome-bg};
    --global-border-color               : #{$light-gray};
    --global-dark-border-color          : #{$chrome-bg-lighter};
    --global-code-background-color      : #1e1e1e;
    --global-code-text-color            : #{$text};
    --global-fig-caption-color          : #{$light-gray};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-dark};
    --global-link-color-visited         : #{$link-light};
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$primary-color};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #999999;
    --global-thead-color                : #{$chrome-bg-lighter};

    .masthead {
        background-color: #{$chrome-bg};
    }

    .page__footer {
        background-color: #{$chrome-bg};
    }

    .sidebar {
        background-color: #{$chrome-bg};
        border-radius: #{$border-radius};
        padding: 1em;
    }

    .page__content,
    .archive {
        background-color: #{$content-bg};
    }
}