/* ==========================================================================
   INTELLIJ DARK
   ========================================================================== */
$primary-color              : #cc7832;
$dark-primary-color         : mix(#000, $primary-color, 40%);
$darker-primary-color       : mix(#000, $primary-color, 60%);
$light-primary-color        : mix(#fff, $primary-color, 50%);
$lighter-primary-color      : mix(#fff, $primary-color, 90%);
$background                 : #2b2b2b;
$background-light           : #313335;
$background-lighter         : #3c3f41;
$text                       : #a9b7c6;
$text-muted                 : #808080;
$link                       : #cc7832;
$link-dark                  : #ffc66d;
$link-light                 : #a9b7c6;
$footer                     : #3c3f41;
$border                     : #313335;
$border-light               : #4e5254;

$danger-color                : #ff6b68;
$info-color                  : #6897bb;
$notice-color                : #cc7832;
$success-color                : #6a8759;
$warning-color                : #ffc66d;

$border-radius               : 4px;
$box-shadow                  : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition           : all 0.2s ease-in-out;
$masthead-height              : 70px;
$navicon-width                 : 28px;
$navicon-height                : 4px;
$sidebar-link-max-width         : 250px;
$sidebar-screen-min-width       : 1024px;

html[data-theme="dark"] {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #{$footer};
    --global-border-color               : #{$border};
    --global-dark-border-color          : #{$border-light};
    --global-code-background-color      : #{$background-light};
    --global-code-text-color            : #{$text-muted};
    --global-fig-caption-color          : #{$text-muted};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-dark};
    --global-link-color-visited         : #{$link-light};
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$primary-color};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #{$text-muted};
    --global-thead-color                : #{$background-lighter};
}

html[data-theme="dark"] {
    footer {
        color: #{$text};
    }
}

html[data-theme="dark"] {
    .masthead {
        background-color: #{$footer};
    }
}

html[data-theme="dark"] {
    .greedy-nav {
        background: #{$footer};
    }
}