---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <meta property="og:title" content="bushtail's modding den">
    <meta property="og:description" content="SPT mod dev, Unity mod dev, madman.">
    <meta property="og:image" content="https://media.discordapp.net/attachments/1144610907415138344/1451679558897107014/NTrI5gp.png?ex=69470d71&is=6945bbf1&hm=cc891572f2e87bb4efce1df9a84bdf066040d3ade8d2bd59a804da097ab1219e&=&format=png&quality=lossless&width=160&height=160">
    <meta property="og:url" content="https://bushtail.ca/">
    <meta property="og:type" content="website">
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
